body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(245, 245, 247);
  flex-direction: column;
}
.mainbody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px;
  border-radius: 18px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 440px;
  width: 253px;
  background-color: white;
}

img {
  height: 230px;
  width: 230px;
}

.container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
